<!DOCTYPE html>
<html lang="en" ng-app="circunferencia">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-controller="ctlrCircunferencia">
		<h1>Calculo de la circunferencia</h1>
		
		<label>Diametro:</label>
		<input type="text" ng-model="diametro">
		<button ng-click="CalcularCircunferencia()">Calcular</button>
		<hr>
		{{calCircunferencia}}
	</div>

	<script>
		var app = angular.module('circunferencia', [])

		app.controller('ctlrCircunferencia', ['$scope', function($scope){

			var pi = 3.14

			$scope.CalcularCircunferencia= function(){
				$scope.calCircunferencia=$scope.diametro*pi
			}
			
		}])
	</script>
</body>
</html>