<!DOCTYPE html>
<html lang="en" ng-app="Nombres">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
	<div ng-controller="ctrlNombres">
		<h1>Nombres</h1>
		<ul ng-repeat="name in SimplesNames">
			<li>{{name}}</li>
		</ul>

		<ul ng-repeat="actor in actors">
			<li>{{actor.firstname}}&nbsp;{{actor.lastname}}</li>
		</ul>
	</div>

	<script>
		var app = angular.module('Nombres', [])

		app.controller('ctrlNombres', ['$scope', function($scope){
			$scope.SimplesNames = ["Oscar", "Rosa", "Romel", "Solano"]
			$scope.actors = [{firstname:"Toledo", lastname:"Del Carmen"}, {firstname:"Marrufo", lastname:"Cruz"}, {firstname:"Roncal", lastname:"Malcal"}]
		}])
	</script>
</body>
</html>